<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Inventory Management System</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('view_products') }}">Products</a>
            <a href="{{ url_for('add_product') }}">Add Product</a>
            <a href="{{ url_for('purchase_product') }}">Purchase</a>
            <a href="{{ url_for('view_purchases') }}">Purchases</a>
            <a href="{{ url_for('view_stock') }}">Stock</a>
            <a href="{{ url_for('sale_product') }}">Sale</a>
            <a href="{{ url_for('view_sales') }}">Sales</a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>