<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h2>Stock</h2>
    <table>
        <tr>
            <th>ID</th><th>Name</th><th>Instock</th><th>Status</th>
        </tr>
        {% for s in stocks %}
        <tr>
            <td>{{ s.product_id }}</td>
            <td>{{ s.PName }}</td>
            <td>{{ s.Instock }}</td>
            <td>{{ s.status }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}" class="back-link">Back</a>
    {% endblock %}
</body>
</html>